# Quartus build folders and files
db/
incremental_db/
output_files/
simulation/
*.qws
.qsys_edit/

# backup files
*.bak

# reports
*.rpt

# temporary files
*.flock
*.smsg

# generated
*pin_model_dump.txt

# Software build outputs
*.o
*.d
*.elf
*.axf
*.map
*.bin
*.hex

Debug/
Release/
build/